{{ define "navbar"}}

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a href="https://www.meetup.com/es-ES/Cloud-Native-Barcelona/" class="navbar-brand" href="/">Cloud Native
        Barcelona</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {{ if eq .Active "home" }}
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          {{ end }}
          {{ if eq .Active "images" }}
          <li class="nav-item active">
            <a class="nav-link" href="/images">Images
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="/images">Images</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>

  {{ end }}